@page "/hashtag/{tagName}"
@model Chirp.Web.Pages.HashtagModel
@using System
@{
    ViewData["Title"] = $"Chirp - {Model.TagName}";
    Layout = "Shared/_Layout";
}

<div class="hashtag-page">
    <h2>Hashtag: @Model.TagName</h2>

    @if (Model.cheeps?.Any() == true)
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.cheeps)
            {
                <li>
                    <div class="activity">
                        <img src="https://avatars.githubusercontent.com/@cheep.Author" />
                        <div>
                            <strong><a href="/@cheep.Author">@cheep.Author</a></strong>
                            <small>&mdash; @cheep.Timestamp</small>
                            @{
                                string Message;
                                var embedUrl = Model.GetYouTubeEmbed(cheep.Message, out Message);

                                List<string> hashTags;
                                string MessageWithHashtags;
                                hashTags = Model.GetHashTags(Message, out MessageWithHashtags);
                                
                                if (embedUrl != null)
                                {
                                    <iframe width="560" height="315" src="@embedUrl" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                }

                                <p>@Html.Raw(MessageWithHashtags)</p>
                            }
                        </div>
                    </div>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps for this hashtag yet.</em>
    }
</div>