@page "/"
@model Chirp.Web.Pages.PublicModel
@using System
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2> Public Timeline </h2>

    @if (User.Identity is not null && User.Identity.IsAuthenticated)
    {
    @if((ViewData["CheepTooShort"] as string) == "true")//(ViewData["CheepTooShort"] == "true")
    {
        <div class="alert alert-warning" role="alert">
            Your cheep is too short!
        </div>
        ViewData["CheepTooShort"] = "false";
    }
    <div class="cheepbox">
            <h3>What's on your mind @(User.Identity.Name)?</h3>
            <form class="share-cheep" method="post">
                    <textarea type="text" asp-for="NewCheep.Message"></textarea>
                    <input type="submit" value="Share">
            </form>
    </div>
    }


    @if (Model.DisplayedCheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.DisplayedCheeps)
            {
                var upVoteCount = Model.FindUpvoteCountByCheepID(cheep.id).Result;
                var downVoteCount = Model.FindDownvoteCountByCheepID(cheep.id).Result;
                <li>
                    <div class="activity">
                        <img src="https://avatars.githubusercontent.com/@cheep.Author"/>
                        <div>
                            <strong><a href="/@cheep.Author">@cheep.Author</a></strong>
                            <small>&mdash; @cheep.Timestamp</small>
                            <!-- YouTube Link Check and Embed, hashtags -->
                            @{
                                string Message;
                                var embedUrl = Model.GetYouTubeEmbed(cheep.Message, out Message);

                                List<string> hashTags;
                                string MessageWithHashtags;
                                hashTags = Model.GetHashTags(Message, out MessageWithHashtags);    
                            }

                            @if (embedUrl != null)
                            {
                                <iframe width="560" height="315" src="@embedUrl" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            }

                            <p style="white-space: pre-line">@MessageWithHashtags</p>

                            @if(hashTags != null)
                            {
                                foreach(var hashTag in hashTags)
                                {
                                    var displayTag = hashTag.Replace("/hashtag/", "#");
                                    <a rel="ugc nofollow" class="hashtag" href="@hashTag">@displayTag</a>
                                }
                            }

                            <div class="flex-it">
                                @if (User?.Identity is not null && User.Identity.IsAuthenticated)
                                {  
                                    //get the id of the logged in user
                                    var userName = User?.Identity?.Name ?? "default";                
                                    var userId = Model.FindUserIDByName(userName).Result;
                                    var authorId = Model.FindUserIDByName(@cheep.Author).Result;
                                    var isFollowing = Model.CheckIfFollowed(userId, authorId).Result;
                                    @* var upVoteCount = Model.FindUpvoteCountByCheepID(cheep.id).Result;
                                    var downVoteCount = Model.FindDownvoteCountByCheepID(cheep.id).Result; *@
                                    // Inspired by StackOverflow user: https://stackoverflow.com/a/59721230
                                    //@if() Add if statement to check if you are following that person
                                    if(userId == authorId)
                                    {
                                        //no form is shown since the logged in user shouldnt follow themselves
                                    }
                                    else if(userId != authorId)
                                    {   
                                        if(isFollowing)
                                        {
                                            <form asp-page-handler="Unfollow" method="post" data-author="@cheep.Author" class="unfollowForm">
                                                <input type="hidden" name="Author" value="@cheep.Author"/>
                                                <button type="submit" class="flwbtn unfollow" data-author="@cheep.Author"> Unfollow </button>
                                            </form>
                                        }
                                        else
                                        {
                                            <form asp-page-handler="Follow" method="post" data-author="@cheep.Author" class="followForm">
                                                <input type="hidden" name="author" value="@cheep.Author"/>
                                                <button type="submit" class="flwbtn follow" data-author="@cheep.Author"> Follow </button>
                                            </form>
                                        }
                                    }

                                    // reaction
                                    <form asp-page-handler="Reaction" method="post" data-id="@cheep.id" class="vote-btn">
                                        <input type="hidden" name="NewcheepId.id" value="@cheep.id"/>
                                        <input type="hidden" name="NewReaction.Reaction" value="Upvote" data-id="@cheep.id"/>
                                        <button class="votebtn vote-btn" data-id="@cheep.id"> Upvote <span>@upVoteCount</span> </button>
                                    </form>
                                    <form asp-page-handler="Reaction" method="post" data-id="@cheep.id" class="vote-btn">
                                        <input type="hidden" name="NewcheepId.id" value="@cheep.id"/>
                                        <input type="hidden" name="NewReaction.Reaction" value="Downvote" data-id="@cheep.id"/>
                                        <button class="votebtn vote-btn" data-id="@cheep.id"> Downvote <span>@downVoteCount</span> </button>
                                    </form>
                                }
                                else
                                {
                                    <p class="votebtnn">upvote <span>@upVoteCount</span></p> 
                                    <p class="votebtnn">Downvote <span>@downVoteCount</span></p> 
                                }
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }

    @await Component.InvokeAsync("Pagination")
</div>

@section scripts {
<script>
//follow and unfollow
$(document).ready(function() {
    $(".followForm, .unfollowForm").on('submit', function(e) {
        e.preventDefault();
        let form = $(this);
        let url = form.attr('action');
        let button = form.find('button');
        let author = form.data('author'); // Get the author related to this form

        $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(),
            success: function(response)
            {
                if(response.success) {
                    let newAction = button.hasClass('follow') ? 'Unfollow' : 'Follow';
                    let newClass = button.hasClass('follow') ? 'unfollow' : 'follow';
                    let newHandler = button.hasClass('follow') ? 'Unfollow' : 'Follow';

                    // Target all forms and buttons related to the author
                    $('.followForm[data-author="' + author + '"], .unfollowForm[data-author="' + author + '"]').each(function() {
                        let thisForm = $(this);
                        let thisButton = thisForm.find('button');

                        thisButton.text(newAction);
                        thisButton.removeClass('follow unfollow').addClass(newClass);
                        thisForm.attr('asp-page-handler', newHandler);
                        thisForm.removeClass('followForm unfollowForm').addClass(newClass + 'Form');
                        thisForm.attr('action', '/?handler=' + newHandler);
                    });
                }
            },
            error: function(error) {
                console.log('Error:', error);
            }
        });
        return false;  // prevent form from submitting normally
    });
});
//upvote and downvote
$(document).ready(function() {
    $(".vote-btn").on('submit', function(e) {
        e.preventDefault();
        let form = $(this);
        let url = form.attr('action');
        let button = form.find('button');
        let voteType = form.find('input[name="NewReaction.Reaction"]').val();
        let id = form.data('id'); // Get the id related to this form

        $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(),
            success: function(response)
            {
                if(response.success) {
                    // get the span within the button and update
                    let voteCountSpan = button.find('span');
                    voteCountSpan.text(voteType === 'Upvote' ? response.upVoteCount : response.downVoteCount);

                    // get the span within the opposite button and update
                    let oppositeVoteType = voteType === 'Upvote' ? 'Downvote' : 'Upvote';
                    let oppositeButton = $("button:contains('" + oppositeVoteType + "')[data-id='" + id + "']");
                    let oppositeVoteCountSpan = oppositeButton.find('span');
                    oppositeVoteCountSpan.text(oppositeVoteType === 'Upvote' ? response.upVoteCount : response.downVoteCount);
                }
            },
            error: function(error) {
                console.log('Error:', error);
            }
        });
        return false;  // prevent form from submitting normally
    });
});
</script>
}
                                            