@page "/"
@model Chirp.Web.Pages.PublicModel
@using System
@using Chirp.Core
@using Chirp.Infrastructure.Models;
@inject IUserRepository<User> UserRepository
@{

    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";

}

<div>
    <h2> Public Timeline </h2>

    @if (User.Identity is not null && User.Identity.IsAuthenticated)
    {
    <div class="cheepbox">
            <h3>What's on your mind @(User.Identity.Name)?</h3>
            <form method="post">
                    <input style="float: left" type="text" asp-for="NewCheep.Message">
                    <input type="submit" value="Share">
            </form>
    </div>
    }

    @if (Model.DisplayedCheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.DisplayedCheeps)
            {
                <li>
                    <div class="activity">
                        <img src="https://avatars.githubusercontent.com/@cheep.Author"/>
                        <div>
                            <strong><a href="/@cheep.Author">@cheep.Author</a></strong>
                            <small>&mdash; @cheep.Timestamp</small>
                            <p>@cheep.Message</p>
                 
                            @if (User.Identity is not null && User.Identity.IsAuthenticated)
                            {  
                                //get the id of the logged in user                    
                                var userId = UserRepository.GetUserIDByName(User.Identity.Name).Result;
                                var authorId = UserRepository.GetUserIDByName(@cheep.Author).Result;
                                var isFollowing = UserRepository.IsFollowing(userId, authorId).Result;
                                // Inspired by StackOverflow user: https://stackoverflow.com/a/59721230
                                //@if() Add if statement to check if you are following that person
                                if(userId == authorId)
                                {
                                    //silence is golden (no form is shown since the logged in user shouldnt follow themselves)
                                }
                                else if(userId != authorId)
                                {   
                                    if(isFollowing)
                                    {
                                        <form asp-page-handler="Unfollow" method="post">
                                            <input type="hidden" name="Author" value="@cheep.Author"/>
                                            <button class="flwbtn unfollow"> Unfollow </button>
                                        </form>
                                    }
                                    else
                                    {
                                        <form asp-page-handler="Follow" method="post" >
                                            <input type="hidden" name="author" value="@cheep.Author"/>
                                            <button class="flwbtn follow"> Follow </button>
                                        </form>
                                    }
                                }
                            }
                        </div>
                    </div>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }

    @await Component.InvokeAsync("Pagination")
    
</div>
