@page "/Profile"
@model Chirp.Web.Pages.UserProfileModel
@using System
@using Chirp.Core
@using Chirp.Infrastructure.Models;
@inject IUserRepository<User> UserRepository
@{

    ViewData["Title"] = "Chirp!";
    
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("profile");
    ViewData["RouteName"] = routeName;
    string email = Model.NewEmail.Email;
}

<div class="profile-page">

    @if (User.Identity is not null && User.Identity.IsAuthenticated)
    {
        
    <h2> @User.Identity.Name's profile </h2>
        <div class="profile-user">
            <p> Username: @User.Identity.Name</p>
            @if(ViewData["UserEmail"] != null) {
                <p> Email: @ViewData["UserEmail"]</p> 
                <h4> Update your email:</h4>
                @if(ViewData["EmailError"] == "formatting")
                {
                    <div class="alert alert-warning" role="alert">
                        Email formatting is incorrect
                    </div>
                    ViewData["EmailError"] = null;
                } else if (ViewData["EmailError"] == "duplicate")
                {
                    <div class="alert alert-warning" role="alert">
                        Email already exists
                    </div>
                    ViewData["EmailError"] = null;
                } else if (ViewData["EmailError"] == "success")
                {
                    <div class="alert alert-success" role="alert">
                        Email successfully updated
                    </div>
                        ViewData["EmailError"] = null;
                } else if (ViewData["EmailError"] == "error")
                {
                    <div class="alert alert-danger" role="alert">
                        Error updating email
                    </div>
                    ViewData["EmailError"] = null;
                }
                <form asp-page-handler="AddUpdateEmail" method="post">
                    <input style="float: left" type="text" name="email" value="Example@Example.com" asp-for="NewEmail.Email" />
                    <input type="submit" value="Add Email">
                </form>
            } else {  
            @if(ViewData["EmailError"] == "formatting")
                {
                    <div class="alert alert-warning" role="alert">
                        Email formatting is incorrect
                    </div>
                    ViewData["EmailError"] = null;
                } else if (ViewData["EmailError"] == "duplicate")
                {
                    <div class="alert alert-warning" role="alert">
                        Email already exists
                    </div>
                    ViewData["EmailError"] = null;
                } else if (ViewData["EmailError"] == "success")
                {
                    <div class="alert alert-success" role="alert">
                        Email successfully updated
                        ViewData["EmailError"] = null;
                    </div>
                } else if (ViewData["EmailError"] == "error")
                {
                    <div class="alert alert-danger" role="alert">
                        Error updating email
                    </div>
                    ViewData["EmailError"] = null;
                }
            <form asp-page-handler="AddUpdateEmail" method="post">
                <input style="float: left" type="text" name="email" value="Example@Example.com" asp-for="NewEmail.Email" />
                <input type="submit" value="Add Email">
            </form>
            }
        </div>

        <div class="profile-download">
            <h4> Download user data: </h4>
            <form asp-page-handler="DownloadData" method="post"> 
                <button class="dwnlbttn download"> Download Data </button>
            </form>
        </div>

        <div class="profile-delete"> 
            <h4> Delete user data: </h4>
            <form asp-page-handler="ForgetMe" method="post">
                <input type="hidden" name="User" value="@User.Identity.Name"/>
                <button class="frgtbttn forgetme"> Forget Me </button>
            </form>
        </div>
        <div class="profile-follow">
            <h4>Following: </h4>
            @foreach (var UserFollow in Model.following)
            {
                <ul>
                    <li>
                        <a href="/@UserFollow.Name"> @UserFollow.Name <a/>
                    </li>
                </ul>
            }
        </div>
        <div class="profile-cheeps">
            <h4>@User.Identity.Name's Cheeps:</h4>
            @if (Model.cheeps?.Any() == true)
            {
                <ul id="messagelist" class="cheeps">
                    @foreach (var cheep in Model.cheeps)
                    {
                        <li>
                            <div class="activity">
                                <img src="https://avatars.githubusercontent.com/@cheep.Author"/>
                                <div>
                                    <strong><a href="/@cheep.Author">@cheep.Author</a></strong>
                                    <small>&mdash; @cheep.Timestamp</small>
                                    <p>@cheep.Message</p>
                                </div>
                                    
                        </li>
                    }
                </ul>
            }
        </div>
    }
    else
    {
        <em>You need to be logged in to view the profile page</em>
    }

</div>

