@page "/Profile"
@model Chirp.Web.Pages.UserProfileModel
@using System
@{

    ViewData["Title"] = "Chirp!";
    
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("profile");
    ViewData["RouteName"] = routeName;
    string email = Model.NewEmail.Email;
}

<div class="profile-page">

    @if (User.Identity is not null && User.Identity.IsAuthenticated)
    {
        
    <h2> @User.Identity.Name's profile </h2>
        <div class="profile-user pad12 gray-bg">
            <p> Username: @User.Identity.Name</p>
            @if(TempData.Peek("UserEmail") != null) // Use TempData.Peek to read the value without marking it for deletion, otherwise the TempData value is deleted on the next request
            {
                <p> Email: @TempData.Peek("UserEmail")?.ToString()</p>

                <h4> Update your email:</h4>
                <form asp-page-handler="AddUpdateEmail" method="post">
                    <input style="float: left" type="text" name="email" value="Example@Example.com" asp-for="NewEmail.Email" />
                    <input type="submit" value="Add Email">
                </form>
            }
            else
            {  
                <form asp-page-handler="AddUpdateEmail" method="post">
                    <input style="float: left" type="text" name="email" value="Example@Example.com" asp-for="NewEmail.Email" />
                    <input type="submit" value="Add Email">
                </form>
            }
            @*email update/failure messages*@
            @if(TempData.Peek("EmailError") != null)
            {
                var message = TempData["EmailError"]?.ToString();

                //display the specific class for the alert message
                var alertClass  = message == "Email successfully updated" ? "alert-success"
                                : message == "Email formatting is incorrect" ? "alert-warning" 
                                : message == "Duplicate email, that email already exists" ? "alert-warning" 
                                : message == "Error updating email" ? "alert-danger" 
                                : "alert-info"; // Default case

                <div class="alert @alertClass" role="alert">
                    @message
                </div>
            }
        </div>

        <div class="profile-download pad12">
            <h4> Download user data: </h4>
            <form asp-page-handler="DownloadData" method="post"> 
                <button class="dwnlbttn download"> Download Data </button>
            </form>
        </div>

        <div class="profile-delete pad12"> 
            <h4> Delete user data: </h4>
            <form asp-page-handler="ForgetMe" method="post">
                <input type="hidden" name="User" value="@User.Identity.Name"/>
                <button class="frgtbttn forgetme"> Forget Me </button>
            </form>
        </div>
        <div class="profile-follow pad12">
            <h4>Following: </h4>
            @foreach (var UserFollow in Model.following)
            {
                <ul>
                    <li>
                        <a href="/@UserFollow.Name"> @UserFollow.Name <a/>
                    </li>
                </ul>
            }
        </div>
        <div class="profile-cheeps pad12">
            <h4>@User.Identity.Name's Cheeps:</h4>
            @if (Model.cheeps?.Any() == true)
            {
                <ul id="messagelist" class="cheeps">
                    @foreach (var cheep in Model.cheeps)
                    {
                        <li>
                            <div class="activity">
                                <img src="https://avatars.githubusercontent.com/@cheep.Author"/>
                                <div>
                                    <strong><a href="/@cheep.Author">@cheep.Author</a></strong>
                                    <small>&mdash; @cheep.Timestamp</small>
                                    <p>@cheep.Message</p>
                                </div>
                                <div>
                                    <form asp-page-handler="DeleteCheep" method="post">
                                        <input type="hidden" name="CheepId" value="@cheep.id"/>
                                        <button class="delete-cheep">Delete</button>
                                    </form>
                                </div>
                            </div>    
                        </li>
                    }
                </ul>
            }
        </div>
    }
    else
    {
        <em>You need to be logged in to view the profile page</em>
    }
</div>

