@page "/"
@model Chirp.Razor.Pages.PublicModel
@using System
@using SimpleDB
@{

    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";


    int currentPage = Model.CurrentPage;
    int totalPages = Model.TotalPages;
    int prevPage = Math.Max(currentPage - 1, 1);
    int nextPage = Math.Min(currentPage + 1, totalPages);

}

<div>
    <h2> Public Timeline Val </h2>

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.Author">@cheep.Author</a>
                        </strong>
                        @cheep.Message
                        <small>&mdash; @cheep.Timestamp</small>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <center>

            @if (currentPage != 1)
            {
                <a href="/?page=@prevPage" aria-label="Prev">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            }

            @if (totalPages <= 10)
            {
                @for (int i = 1; i <= totalPages; i++)
                {
                    if (i == currentPage)
                    {
                        <a href="/?page=@i">[@i]</a>
                    }
                    else
                    {
                        <a href="/?page=@i">@i</a>
                    }
                }
            }
            else
            {
                int start = Math.Max(currentPage - 4, 1);
                int end = Math.Min(currentPage + 5, totalPages);

                if (currentPage - 4 <= 1)
                {
                    start = 1;
                    end = 10;
                } 

                if (currentPage + 4 >= totalPages)
                {
                    start = totalPages-9;
                }


                for (int i = start; i <= end; i++)
                {
                    if (i == currentPage)
                    {
                        <a href="/?page=@i"><b>@i</b></a>
                    }
                    else
                    {
                        <a href="/?page=@i">@i</a>
                    }
                }
            }
            

            @if (!Model.LastPage)
            {
                <a href="/?page=@nextPage" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            }
            </center>
        </ul>
    </nav>
</div>
